@{
    Layout ="~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <input type="button" value="LoadJson" id="jsonbutton" />
    <div id='target'></div>
    <input type="button" id="loaddata" value="Load Data" />
    <div id="assistants"></div>

</div>

