#logo {
     height: 80px;
     width: 150px;
}
.navbar-default .navbar-link {
    background-color: white !important;
}

.navbar .nav>li>a  {
    font-size:15px !important;
}

.navbar-default {
    background-color: white !important;
    height: 115px !important;
}