<!DOCTYPE html>

<html>
<head>
    <title>Core Workshop</title>
</head>
<body>
<div>
    @RenderBody()      
</div>
    <script type="text/javascript" src="dist/app.bundle.js"></script>
</body>
</html>